<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495368636469-et6gef11tsks209opi850esqfq4v1kan.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495368636469-et6gef11tsks209opi850esqfq4v1kan</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>495368636469-v49jgp84n5lnvpl49gm9b2au5sje59i9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlaFuc7mxZERJJNdhBJc6h5r-0IMeQfEI</string>
	<key>GCM_SENDER_ID</key>
	<string>495368636469</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practics</string>
	<key>PROJECT_ID</key>
	<string>social-media-app-d516f</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-app-d516f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495368636469:ios:e68bea3370fe43bddf497c</string>
</dict>
</plist>